<h1>Listing occasions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Start date</th>
  </tr>

<% @occasions.each do |occasion| %>
  <tr>
    <td><%=h occasion.name %></td>
    <td><%=h occasion.start_date %></td>
    <td><%= link_to 'Show', occasion %></td>
    <td><%= link_to 'Edit', edit_occasion_path(occasion) %></td>
    <td><%= link_to 'Destroy', occasion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New occasion', new_occasion_path %>